.card-list {
  background: $white;
  border: 0.5px solid $borderColor;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 5%;
  margin-bottom: 5%;
}
.searchBox {
  background: $white;
  border: 0.75px solid $borderColor;
  box-sizing: border-box;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 32.5px;
  width: 40%;
  display: inline-block;
  padding: 7px;
}
.icon-search {
  background-color: $blue;
  color: $white;
  border: none;
  border-radius: 100%;
  float: right;
  &:hover {
    background-color: $hoverBlue;
  }
}
.input-search {
  border: none;
  border-radius: 40px;
  width: 100%;
  float: left;
  outline: none;
  &:focus {
    outline: none;
  }
}
.add-user-bt {
  background-color: #E3E3E3;
  color:#96A1AE;
  border: none;
  border-radius: 100%;
  // display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: $btBorderColorGrey;
  }
}
.input-invalid {
  border: 1px solid $red !important;
  outline: none !important;
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}
.multiselect {
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #495057 !important;
  background-color: #fff !important;
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  font-family: "Prompt" !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 14px !important;
  line-height: 24px !important;
}
.multiselect-invalid {
  border: 1px solid $red !important;
  outline: none !important;
}
.avatar-owner {
  background-color: #0077b6;
  font-size: 14px;
}
.wrap {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  color: white;
}
.wrap-span {
  position: absolute;
  top: 0;
  right: 0;
  height: 15px;
  width: 15px;
  background-color:$red;
  border-radius: 20px;
  font-size: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  &:hover{
    background-color: $hoverRed;
    cursor: pointer;
  }
}
.avatar-user {
  background-color: #48cae4;
  font-size: 14px;
}
.avatar-more {
  color: black;
  background-color: #b8c6c9;
  font-size: 14px;
}
.add-icon {
  font-size: 60pxs;
  color: $green;
  &:hover {
    color: $hoverGreen;
  }
}
.del-icon {
  font-size: 60pxs;
  color: $red;
  &:hover {
    color: $hoverRed;
  }
}
.table-box {
  background-color: $white;
  border: 0.75px solid #bacfe7;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 0%;
}
.table-color {
  margin: 0px;
  border-radius: 8px;
  overflow: hidden;
  tbody tr:nth-of-type(odd) {
    background-color: #f8fbff;
  }
  &:hover tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
  }
}
.table-color-alt {
    margin: 0px;
    border-radius: 8px;
    tr:nth-of-type(even){
        background-color:#F8FBFF;
    }
    tr:hover{
        color:#212529;
        background-color:rgba(0,0,0,.075)
    } 
}
.show-selete{
    overflow: unset;
}
@mixin status{
   // width: 50%;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    
}
.status{
  &-waiting{
    @include status;
    background-color: #FFF6DF;
    color: #FFA841;
  }
  &-todo{
    @include status;
    background-color: #E9F3FF;
    color: #3383DF;
  }
  &-doing{
    @include status;
    background-color: #FFDBD0;
    color: #FC6A3C;
  }
  &-testing{
    @include status;
    background-color: #FFE3ED;
    color: #FF2171;
  }
  &-done{
    @include status;
    background-color: #E2F9E9;
    color: #3BC261;
    ;
  }
}
.cut-text{
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3;
  height: 70px;
  -webkit-box-orient: vertical;
}
.icon-file {
  font-size: 50px;
  color: #96a1ae;
}
.icon-upload {
  color: #0077ff;
  font-size: 18px;
}
.bt-download {
  padding: 2px;
  width: 80px;
  background: none;
  font-family: "Prompt";
  font-style: normal;
  font-size: 14px;
  padding: 0px;
  color: #96a1ae;
  &:hover {
    color: #2fbc70;
  }
  &:active {
    color: #2fbc70;
  }
  svg {
    margin-top: 4px;
    font-size: 18px;
  }
}

.dropdown-edit {
  width: 80px;
  background: none;
  button {
    font-family: "Prompt";
    font-style: normal;
    font-size: 14px;
    padding: 0px;
    color: #96a1ae;
    &:hover {
      color: #0077ff;
    }
    &:active {
      color: #0077ff;
    }
    &:focus {
      outline: none !important;
      box-shadow: none !important;
    }
    svg {
      font-size: 18px;
    }
  }
  ul {
    li {
      form {
        width: 300px;
      }
    }
  }
}

.dropdown-del {
  width: 80px;
  background: none;
  button {
    font-family: "Prompt";
    font-style: normal;
    font-size: 14px;
    padding: 0px;
    color: #96a1ae;
    &:hover {
      color: #bc4b51;
    }
    &:active {
      color: #bc4b51;
    }
    &:focus {
      outline: none !important;
      box-shadow: none !important;
    }
    svg {
      font-size: 18px;
    }
  }
  ul {
    li {
      form {
        width: 300px;
      }
    }
  }
}
