@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
.header-space{
    background:$white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-left:250px;
    padding: 10px;
}
.align-middle{
    align-self: center !important;
}
.display {
    display: block;
  }
.display-dropdow{
    display: none;
}
@media (max-width: 1024px) {
    .display {
      display: none;
    }
    .display-dropdow{
        display: block;
    }
}
.white-space{
    white-space: nowrap;
}