// color web //
$black:#000000;
$white:#ffffff;
$blue:#0077FF;
$borderColor: #BACFE7;
$hoverBlue: #0064D8;
$green: #2FBC70;
$hoverGreen: #007f5f;
$red:#FA5A5A;
$hoverRed: #bc4b51;
$btBorderColorGrey: #9C9C9C;